.login{
    width: 300px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow:#303030;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    height: 50%;
    margin: 0 auto;
    margin-top: 100px;
    color: #1d2129;

}
.login>input{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline:none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 00.5rem 0.75rem;
    width: 90%;
    font-size: 1rem;
}
.login > .button{
    background:#303030;
    border: 1px solid #303030;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.2rem;
    margin: 0.2rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 30%;
}